# 第12章 Excelシート
## 12.3 Excel文書を読み込む
### 12.3.1 Excelドキュメントを開く

In [1]:
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.3\\example.xlsx'

import openpyxl
wb=openpyxl.load_workbook(file) #Workbookオブジェクトを返す
type(wb)

openpyxl.workbook.workbook.Workbook

### 12.3.2 WorkBookからシートを取得する

In [2]:
wb.get_sheet_names() #シート名のリストを取得する

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """Entry point for launching an IPython kernel.

['Sheet1', 'Sheet2', 'Sheet3']

In [3]:
sheet=wb.get_sheet_by_name('Sheet3') #Worksheetオブジェクトを取得
sheet

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [4]:
type(sheet) #Worksheetオブジェクト

openpyxl.worksheet.worksheet.Worksheet

In [5]:
#Activeのシートを取得する場合は以下
sheet=wb.active 
sheet

### 12.3.3 シートからセルを取得する
value()、row()、column()メソッド

In [6]:
sheet['A1'] #Cellオブジェクトを取得

In [7]:
a=sheet['A1']
print(a.value) #value()メソッドを用いた値の取得
print(a.row) #row()メソッドを用いた行の取得
print(a.column) #columnメソッドを用いた列の取得

2015-04-05 13:34:02
1
1

In [8]:
#以下のように行と列を数値で指定可能
for i in range(1,8,2):
    print(sheet.cell(row=i,column=2).value)

Apples
Pears
Apples
Strawberries

In [9]:
#シートのサイズを取得
print(sheet.max_row)
print(sheet.max_column)

7
3

### 12.3.4 列の文字と番号を変換する

In [10]:
import openpyxl
from openpyxl.utils import get_column_letter, column_index_from_string

print(get_column_letter(2)) #番号を文字に変換
print(column_index_from_string('AA')) #文字を番号に変換

B
27

### 12.3.5 シートから複数の行と列を取得する

In [11]:
import openpyxl
wb=openpyxl.load_workbook(file) #Workbookオブジェクトを返す
sheet=wb.active 
tuple(sheet['A1':'C3']) #各列のタプルのタプルを取得

((<Cell 'Sheet1'.A1>, <Cell 'Sheet1'.B1>, <Cell 'Sheet1'.C1>),
 (<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>),
 (<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>))

In [12]:
for row_of_cell_objects in sheet['A1':'C3']: #A1:C3のスライスによるループ
    for cell_obj in row_of_cell_objects:
        print(cell_obj.coordinate,cell_obj.value)
    print('--- END OF ROW ---')

A1 2015-04-05 13:34:02
B1 Apples
C1 73
--- END OF ROW ---
A2 2015-04-05 03:41:23
B2 Cherries
C2 85
--- END OF ROW ---
A3 2015-04-06 12:46:51
B3 Pears
C3 14
--- END OF ROW ---

In [13]:
#特定の行すべてにアクセスする場合は以下

print(tuple(sheet.columns)[1]) #1行目のタプルを取得
print('')

for cell_obj in tuple(sheet.columns)[1]: #タプルをループし出力
    print(cell_obj.value)

(<Cell 'Sheet1'.B1>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.B7>)

Apples
Cherries
Pears
Oranges
Apples
Bananas
Strawberries

## 12.4 プロジェクト：スプレッドシートからデータを読み込む

In [14]:
#郡ごとに人口と人口調査標準地域の数を集計する

import openpyxl, pprint

print('ワークブックを開いています...')
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.4\\censuspopdata.xlsx'
wb = openpyxl.load_workbook(file)
sheet = wb.get_sheet_by_name('Population by Census Tract') 
county_data = {}

# county_dataに郡の人口と地域数を格納する
print('行を読み込んでいます...')
for row in range(2, sheet.max_row + 1):
    # スプレッドシートの1行に、ひとつの人口調査標準地域のデータがある
    state = sheet['B' + str(row)].value
    county = sheet['C' + str(row)].value
    pop = sheet['D' + str(row)].value


    # この州のキーが確実に存在するようにする
    county_data.setdefault(state, {}) #ｷｰが存在しない場合に、stateをキーに、{}をvalueに登録する

    # この州のこの郡のキーが確実に存在するようにする
    county_data[state].setdefault(county, {'tracts': 0, 'pop': 0}) 

    # 各行が人口調査標準地域を表すので、数を1つ増やす
    county_data[state][county]['tracts'] += 1
   
    # この人口調査標準地域の人口だけ郡の人口を増やす
    county_data[state][county]['pop'] += int(pop)  # ❹


# 新しいテキストファイルを開き、county_dataの内容を書き込む
print('結果を書き込み中...')
output_file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.4\\output.py'

result_file = open(output_file, 'w')
result_file.write('all_data = ' + pprint.pformat(county_data))
result_file.close()
print('完了')

pprint.pprint(county_data['AK'])

ワークブックを開いています...

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

行を読み込んでいます...
結果を書き込み中...
完了
{'Aleutians East': {'pop': 3141, 'tracts': 1},
 'Aleutians West': {'pop': 5561, 'tracts': 2},
 'Anchorage': {'pop': 291826, 'tracts': 55},
 'Bethel': {'pop': 17013, 'tracts': 3},
 'Bristol Bay': {'pop': 997, 'tracts': 1},
 'Denali': {'pop': 1826, 'tracts': 1},
 'Dillingham': {'pop': 4847, 'tracts': 2},
 'Fairbanks North Star': {'pop': 97581, 'tracts': 19},
 'Haines': {'pop': 2508, 'tracts': 1},
 'Hoonah-Angoon': {'pop': 2150, 'tracts': 2},
 'Juneau': {'pop': 31275, 'tracts': 6},
 'Kenai Peninsula': {'pop': 55400, 'tracts': 13},
 'Ketchikan Gateway': {'pop': 13477, 'tracts': 4},
 'Kodiak Island': {'pop': 13592, 'tracts': 5},
 'Lake and Peninsula': {'pop': 1631, 'tracts': 1},
 'Matanuska-Susitna': {'pop': 88995, 'tracts': 24},
 'Nome': {'pop': 9492, 'tracts': 2},
 'North Slope': {'pop': 9430, 'tracts': 3},
 'Northwest Arctic': {'pop': 7523, 'tracts': 2},
 'Petersburg': {'pop': 3815, 'tracts': 1},
 'Prince of Wales-Hyder': {'pop': 5559, 'tracts': 4},
 'Sitka': {'pop': 8881, 'tracts': 2},
 'Skagway': {'pop': 968, 'tracts': 1},
 'Southeast Fairbanks': {'pop': 7029, 'tracts': 2},
 'Valdez-Cordova': {'pop': 9636, 'tracts': 3},
 'Wade Hampton': {'pop': 7459, 'tracts': 1},
 'Wrangell': {'pop': 2369, 'tracts': 1},
 'Yakutat': {'pop': 662, 'tracts': 1},
 'Yukon-Koyukuk': {'pop': 5588, 'tracts': 4}}

## 12.5 Excel文書を書き出す
### 12.5.1 Excel文書を作成して保存する

シート名を変更し保存

In [15]:
import openpyxl
wb=openpyxl.Workbook()
sheet=wb.active
sheet.title='Spam Bacon Eggs Sheet' #シート名の変更
wb.get_sheet_names()

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  """

['Spam Bacon Eggs Sheet']

In [16]:
#保存
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.5.1\\example.xlsx'
wb.save(file)

### 12.5.2 シートを追加・削除する

In [17]:
#シートの追加は以下

import openpyxl
wb=openpyxl.Workbook()
wb.create_sheet(index=0,title='First Sheet') #1番目にシート作成
wb.create_sheet(index=1,title='Second Sheet')
wb.get_sheet_names()

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  import sys

['First Sheet', 'Second Sheet', 'Sheet']

In [18]:
#シートの削除は以下

wb.remove_sheet(wb.get_sheet_by_name('Second Sheet')) #remove_sheetはWork Sheetオブジェクトを引数にとる（シート名ではない）
wb.get_sheet_names()

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Call to deprecated function remove_sheet (Use wb.remove(worksheet) or del wb[sheetname]).
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  after removing the cwd from sys.path.

['First Sheet', 'Sheet']

### 12.5.3 セルに値を書き込む

In [19]:
import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet['A1']='Hello World!' #A1に書き込み
print(sheet['A1'].value)

Hello World!

## 12.6 演習プロジェクト：スプレッドシートを更新する
特定の農産物の価格のみを全列変更する

In [20]:
import openpyxl

wb = openpyxl.load_workbook('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.6\\produceSales.xlsx')
sheet = wb.get_sheet_by_name('Sheet')

# 農産物の種類と、更新する価格
PRICE_UPDATES = {'Garlic': 3.07,
                 'Celery': 1.19,
                 'Lemon': 1.27}

# 行をループして価格を更新する
for row_num in range(2, sheet.max_row): # 先頭行をスキップ
    produce_name = sheet.cell(row=row_num, column=1).value 
    if produce_name in PRICE_UPDATES: 
        sheet.cell(row=row_num, column=2).value = PRICE_UPDATES[produce_name]

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.6\\updatedProduceSales.xlsx')

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  after removing the cwd from sys.path.

## 12.8 Fontオブジェクト

In [21]:
#name: フォント
#bold: 太字
#size: 文字サイズ
#italic: 斜体

from openpyxl.styles import Font
wb=openpyxl.Workbook()
sheet=wb.get_sheet_by_name('Sheet')
font_obj1=Font(name='Times New Roman',bold=True,size=24,italic=True) #フォントの設定
sheet['A1'].font=font_obj1 #フォントを適用
sheet['A1']='Hello world!'

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.8\\styled.xlsx')

C:\Users\nakam\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).

## 12.9 数式
=で始めることで、数式の入力が可能

In [22]:
import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet['A1']=200
sheet['A2']=300
sheet['A3']='=SUM(A1:A2)'

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.9\\writeFormula.xlsx')

## 12.10 行と列の調整
### 12.10.1 行の高さと列の幅を設定

In [23]:
import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet.row_dimensions[1].height=70 #1列目の高さを変更
sheet.column_dimensions['B'].width=20 #B行の幅を変更

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.10\\dimensions.xlsx')

### 12.10.2 セルの結合と解除

In [24]:
import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet.merge_cells('A1:D3')

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.10\\merge.xlsx')

In [25]:
#結合の解除は以下

import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet.merge_cells('A1:D3')
sheet.unmerge_cells('A1:D3') #結合の解除

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.10\\unmerge.xlsx')

### 12.10.3 ウィンドウ枠の固定

In [26]:
#固定の解除は　=Noneとすればいい。

import openpyxl

wb=openpyxl.Workbook()
sheet=wb.active

sheet.freeze_panes='B2' #表示の固定
wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.10\\fix.xlsx')

## 12.11 グラフ

In [27]:
#折れ線グラフ：openpyxl.chart.LineChart()
#散布図：openpyxl.chart.ScatterChart()
#円グラフ：openpyxl.chart.PieChart()

import openpyxl
wb=openpyxl.Workbook()
sheet=wb.active
for i in range(1,11):
    sheet['A'+str(i)]=i
    
ref_obj=openpyxl.chart.Reference(sheet,min_col=1, min_row=1, max_col=1, max_row=10) #グラフ範囲を指定しreferenceオブジェクトを作成
series_obj=openpyxl.chart.Series(ref_obj,title='First series') #referenceオブジェクトを渡して、Seriesオブジェクトを作成
chart_obj=openpyxl.chart.BarChart() #棒グラフ
chart_obj.append(series_obj) #series_objをchart_objに追加
chart_obj.y=50 #場所を指定
chart_obj.x=100
chart_obj.w=300 #サイズを指定
chart_obj.h=200
sheet.add_chart(chart_obj)
wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.11\\sampleChart.xlsx')

## 12.14 演習プロジェクト
### 12.14.1 掛け算の表を作成する

In [28]:
import openpyxl
from openpyxl.styles import Font
import pandas as pd

n = 10

wb = openpyxl.Workbook()
sheet = wb.active
normal_font = Font(size=24)          # 通常フォント
bold_font = Font(size=24, bold=True) # 太字フォント

# 行見出し
for i in range(1, n + 1):
    cell = sheet.cell(row=i + 1, column=1)
    cell.value = i
    cell.font = bold_font

# 列見出し
for j in range(1, n + 1):
    cell = sheet.cell(row=1, column=j + 1)
    cell.value = j
    cell.font = bold_font

# 九九
for i in range(1, n + 1):
    for j in range(1, n + 1):
        cell = sheet.cell(row=i + 1, column=j + 1)
        cell.value = i * j
        cell.font = normal_font

wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\multiplicationtable.xlsx')

#Excel読み込み
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\multiplicationtable.xlsx'
df_raw= pd.read_excel(file)
data_pandas=pd.DataFrame(df_raw[:5])
display(data_pandas)
print('')

   Unnamed: 0  1   2   3   4   5   6   7   8   9  10
0           1  1   2   3   4   5   6   7   8   9  10
1           2  2   4   6   8  10  12  14  16  18  20
2           3  3   6   9  12  15  18  21  24  27  30
3           4  4   8  12  16  20  24  28  32  36  40
4           5  5  10  15  20  25  30  35  40  45  50

### 12.14.2 空行を挿入する
指定した行に、指定した数の行を挿入する

In [29]:
import openpyxl

n = 4 #何行目に挿入するか
m = 2 #何行挿入するか

wb = openpyxl.load_workbook('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\multiplicationtable.xlsx')
sheet = wb.active

new_wb = openpyxl.Workbook()
new_sheet = new_wb.active

for row in range(1, sheet.max_row + 1):
    if row < n:
        new_row = row
    else:
        new_row = row + m  # m行分の空行を入れる

    for col in range(1, sheet.max_column + 1):
        old_cell = sheet.cell(column=col, row=row)
        new_cell = new_sheet.cell(column=col, row=new_row)
        new_cell.value = old_cell.value

new_wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\ins.xlsx')

#Excel読み込み
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\ins.xlsx'
df_raw= pd.read_excel(file)
data_pandas=pd.DataFrame(df_raw[:5])
display(data_pandas)
print('')

   Unnamed: 0    1    2    3     4     5     6     7     8     9    10
0         1.0  1.0  2.0  3.0   4.0   5.0   6.0   7.0   8.0   9.0  10.0
1         2.0  2.0  4.0  6.0   8.0  10.0  12.0  14.0  16.0  18.0  20.0
2         NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3         NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4         3.0  3.0  6.0  9.0  12.0  15.0  18.0  21.0  24.0  27.0  30.0

### 12.14.3 行と列の入れ替え

In [30]:
import openpyxl

file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\ins.xlsx'

wb = openpyxl.load_workbook(file)
sheet = wb.active

new_wb = openpyxl.Workbook()
new_sheet = new_wb.active

for row in range(1, sheet.max_row + 1):
    for col in range(1, sheet.max_column + 1):
        old_cell = sheet.cell(column=col, row=row)
        # 行rowと列colを入れ替える
        new_cell = new_sheet.cell(column=row, row=col)
        new_cell.value = old_cell.value

new_wb.save('C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\swap.xlsx')

#Excel読み込み
file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14\\swap.xlsx'
df_raw= pd.read_excel(file)
data_pandas=pd.DataFrame(df_raw[:5])
display(data_pandas)
print('')

   Unnamed: 0  1   2  Unnamed: 3  Unnamed: 4   3   4   5   6   7   8   9  10
0           1  1   2         NaN         NaN   3   4   5   6   7   8   9  10
1           2  2   4         NaN         NaN   6   8  10  12  14  16  18  20
2           3  3   6         NaN         NaN   9  12  15  18  21  24  27  30
3           4  4   8         NaN         NaN  12  16  20  24  28  32  36  40
4           5  5  10         NaN         NaN  15  20  25  30  35  40  45  50

### 12.14.4 テキストファイルからスプレッドシートに変換する

In [31]:
#テキストファイルの1行につきスプレッドシートの一行使用
#テキストファイルが変わったら次の列に移動する

import openpyxl
import os

folder='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14.4'

# 新規のスプレッドシートを作る
new_wb = openpyxl.Workbook()
new_sheet = new_wb.active

n = 0
for filename in sorted(os.listdir(folder)):
    # 拡張子が.txtでなければスキップ
    if not filename.lower().endswith('.txt'):
        continue
    # ファイルごとに列番号を1,2,3,...と増やしていく
    n += 1
    text_file = open(folder+'\\'+filename, 'r', encoding='utf-8')
    
    # ファイルを開いて行に追加する
    for m,line in enumerate(text_file):  #text_fileリストのm番目の内容がlineに入る
        new_sheet.cell(column=n, row=m + 1).value = line.strip() #最後の改行文字を取り除く
    text_file.close()

# Excelファイルを保存する
new_wb.save(folder+'\\texts.xlsx')

#Excel読み込み
file=folder+'\\texts.xlsx'
df_raw= pd.read_excel(file)
data_pandas=pd.DataFrame(df_raw[:5])
display(data_pandas)
print('')

,これは,これは.1,これは.2,これは.3,これは.4,これは.5,これは.6,これは.7,これは.8
0,spam001.txt,spam002.txt,spam003.txt,spam004.txt,spam005.txt,spam006.txt,spam007.txt,spam008.txt,spam009.txt
1,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。,というテキストファイルです。
2,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1,適当なデータ1
3,最終行,適当なデータ2,適当なデータ2,適当なデータ2,適当なデータ2,適当なデータ2,適当なデータ2,適当なデータ2,適当なデータ2
4,NaN,最終行,適当なデータ3,適当なデータ3,適当なデータ3,適当なデータ3,適当なデータ3,適当なデータ3,適当なデータ3

### 12.14.5 スプレッドシートからテキストファイルに変換する

In [32]:
import openpyxl

file='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14.4\\texts.xlsx'
folder='C:\\Users\\nakam\\Python\\Data\\Boring_Python\\12.14.5'
os.chdir(folder)

# スプレッドシートを開く
wb = openpyxl.load_workbook(file)
sheet = wb.active

for col in range(1, sheet.max_column + 1):
    # 元ファイル名に列番号をつけてテキストファイル名とする
    print('{:03}'.format(col),' ファイルを保存しました')
    filename = '{}_{:03}.txt'.format('spam', col) #数字を001,002と3桁表示する方法
    text_file = open(filename, 'w', encoding='utf-8')
    for row in range(1, sheet.max_row + 1):
        value = sheet.cell(column=col, row=row).value
        if value != None:
            text_file.write(str(value))
            text_file.write('\n')
    text_file.close()

001  ファイルを保存しました
002  ファイルを保存しました
003  ファイルを保存しました
004  ファイルを保存しました
005  ファイルを保存しました
006  ファイルを保存しました
007  ファイルを保存しました
008  ファイルを保存しました
009  ファイルを保存しました